<style>
    .centrado{
        display: flex;
        justify-content: center;
        align-items: center;
    }

   form{
        width:300px;
        padding:16px;
        border-radius:10px;
        margin:auto;
        background-color:rgb(228, 111, 111);
    }

    form label{
        width:100px;
        font-weight:bold;
        display:inline-block;
    }

  
    form input{
        width:280px;
        padding:3px 10px;
        border:1px solid #f6f6f6;
        border-radius:3px;
        background-color:#f6f6f6;
        margin:8px 0;
        display:inline-block;
    }

    form input[type="submit"]{
        width:100%;
        padding:8px 16px;
        margin-top:32px;
        border:1px solid #000;
        border-radius:5px;
        display:block;
        color:#fff;
        background-color:#000;
    } 

    form input[type="submit"]:hover{
        cursor:pointer;
    }

    textarea{
        width:100%;
        height:100px;
        border:1px solid #f6f6f6;
        border-radius:3px;
        background-color:#f6f6f6;			
        margin:8px 0;
        /*resize: vertical | horizontal | none | both*/
        resize:none;
        display:block;
    }



    /* Estiliza la tabla */

    body {
        background-color: rgb(202, 187, 187);
 
        font-family: Arial, sans-serif;
    }


    table{
        width: 100%;
        text-align: left;
        background-color: rgb(241, 147, 147);
    }

    th, td{
        padding: 20px;
    }

    thead{
        background-color: bisque;
        border-bottom: solid 5px #0F362D;
        
    }

    tr:nth-child(even){
        background-color: rgb(197, 147, 147);
    }

    tr:hover td{
        background-color: #369681;
        color: wheat
    }
</style>

<div class="centrado">
    <div class="col-md-4">
        <!-- <div class="card"> -->
            <div class="card-body">
                
                <form #signinForm="ngForm" (ngSubmit)="addSignin(signinForm)"> 
                    <h1>Log In</h1>
                    <input type="hidden" name="_id" [(ngModel)]="signupService.selectedSignup._id">
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Introduce el Email" [(ngModel)]="signupService.selectedSignup.email"> 
                    </div>

                    <div class="form-group">
                        <input type="password" name="pass" class="form-control" placeholder="Introduce la contraseña" [(ngModel)]="signupService.selectedSignup.pass"> 
                    </div>

                    <div class="centrado">
                        <button >Save</button>
                        <!-- <button (click)=resetForm(signinForm)>Clean</button> -->
                    </div>
                </form>



            </div>
        <!-- </div> -->
    </div>
</div>